*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.doctor-img{
  transition: transform 0.5s;
  max-height: 130px;
  border-radius: 1px;
}

.doctor-img:hover {
  transform: scale(1.04);
  border: 2px solid rgb(166, 18, 189);
  cursor: pointer;
}